<template>
  <div id="app">
  <h1 class="text-capitalize text-center">EHealth <span>blood group</span></h1>
    <div class="jumbotron jumbotron-fluid bg-white text-center">
      <div class="spinner-border text-primary " role="status" v-if="bObject">
        <span class="sr-only text-center">Loading...</span>
      </div>
      <div class="container" v-else>
        <div class="row">
          <div class="col-md-6 align-self-center text-center my-md-2">
             <highcharts :options="age_chart" ></highcharts>
          </div>
          <div class="col-md-6">
            <highcharts :options="blood_group" ></highcharts>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import firebase from './config/firebase'

import { chartOptions } from './chartsO'

export default {
  name: 'App',
  data(){
    return{
      bObject: true,
      age_chart: chartOptions.age_distribution,
      blood_group: chartOptions.blood_group
    }
  },
  methods:{

    //checking for network connectivity
    init: function(){
      if(navigator.onLine) this.fetch_online_data()
      else this.get_offline_storage()
    },

    age_distribution: function(data){
      let age_local = {};

      //filter for different blood group ages
      let age_0_10 = data.filter( age =>{ return age.age >=0 && age.age <=10}).length
      let age_11_20 = data.filter( age=>{ return age.age >=11 && age.age <=20}).length
      let age_21_30 = data.filter( age=>{ return age.age >=21 && age.age <=30}).length
      let age_31_40 = data.filter( age=>{ return age.age >=31 && age.age <=40}).length
      let age_41_50 = data.filter( age=>{ return age.age >=41 && age.age <=50 }).length
      
      ///passing data to global chart :options for rendering on chart
      this.age_chart.series = [ 
        { name: 'Age', data: [ age_0_10,age_11_20,age_21_30,age_31_40,age_41_50 ] },
      ]
      
      //creating offline data object  
      age_local.age_0_10 = age_0_10,
      age_local.age_11_20 = age_11_20,
      age_local.age_21_30 = age_21_30,
      age_local.age_31_40 = age_31_40,
      age_local.age_41_50 = age_41_50,

      localStorage.setItem('age_data', JSON.stringify(age_local))
    },

    Blood_group_distribution: function(data){
      let blood_group = {}
      
      //filter for different blood group ages
      let blood_type_a = data.filter( doc=>{ return doc.blood_group == '-A' }).length
      let blood_type_b = data.filter( doc=>{ return doc.blood_group == 'B' }).length
      let blood_type_ab = data.filter( doc=>{ return doc.blood_group == 'AB'}).length
      let blood_type_0 = data.filter( doc=>{return doc.blood_group == 'O' }).length

      ///passing data to global chart :options for rendering on chart
      this.blood_group.series = [ 
        { name: '-A', data: [ blood_type_a ] },
        { name: 'AB', data: [ blood_type_b ] },
        { name: 'B', data: [ blood_type_ab ] },
        { name: 'O', data: [ blood_type_0 ] },
       ]

      //creating offline data object  
      blood_group.blood_type_a = blood_type_a,
      blood_group.blood_type_b = blood_type_b,
      blood_group.blood_type_ab = blood_type_ab,
      blood_group.blood_type_0 = blood_type_0
      
      localStorage.setItem('blood_group_data', JSON.stringify(blood_group))
      this.bObject = false
    },

    //getting localStorage data
    get_offline_storage: function(){
      let age_local = JSON.parse(localStorage.getItem('age_data'))
      let local_blood_group = JSON.parse(localStorage.getItem('blood_group_data'))
      
      this.age_chart.title.text = `Age distribution <br>(Offline data)</br>`
      this.blood_group.title.text = `Blood groups <br>(Offline data)</br>`

      this.age_chart.series = [ 
        { name: 'Age', data: [ age_local.age_0_10,age_local.age_11_20,age_local.age_21_30,age_local.age_31_40,age_local.age_41_50 ] },
      ]
      
      this.blood_group.series = [
        { name: '-A', data: [ local_blood_group.blood_type_a ] },
        { name: 'AB', data: [ local_blood_group.blood_type_b ] },
        { name: 'B', data: [ local_blood_group.blood_type_ab ] },
        { name: 'O', data: [ local_blood_group.blood_type_0 ] },
      ]
      this.bObject = false
    },

    ///getting data from firebase database
    fetch_online_data: function(){
      firebase.ref('/people').on('value', doc=>{
      let locaStore = []
      doc.forEach((snap)=>{
          locaStore.push({
            age: snap.val().age,
            name: snap.val().name,
            blood_group: snap.val().blood_group
          })
      })
          this.Blood_group_distribution(locaStore)
          this.age_distribution(locaStore)
      })
    }

  },

  mounted(){
    this.init()
  }
}
</script>

<style scoped>
span{
  color: #1E878E;
}

h1{
  color: #97B064;
}

</style>